@import "../../themes.scss";

.body-row {
    background-color: #fff;
    &:hover {
        background-color: rgba(192, 192, 192, 0.158);
        cursor: pointer;
        transition: ease-out 0.3s;
    }

    .body-title {
        border: none;
        font-size: $font-size-body;
        font-family: $font-body;

        // .new-icon {
        //     font-size: 20px;
        //     color: $secondary-color;
        //     margin-right: 10px;
        // }

        .new-active {
            background-color: $secondary-color;
            color: #fff;
            width: 50px;
            text-align: center;
            border-radius: 5px;
            font-size: 16px;

            &:hover {
                background-color: rgb(139, 139, 139);
            }
        }

        // .old-icon {
        //     font-size: 20px;
        //     color: $third-color;
        //     margin-right: 10px;
        // }

        .main-active {
            background-color: $third-color;
            color: #fff;
            width: 50px;
            text-align: center;
            border-radius: 5px;
            font-size: 16px;
            &:hover {
                background-color: rgb(139, 139, 139);
            }
        }

        @include mobile {
            font-size: 10px;
        }
        @include tablet {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 150px;
        }
    }

    .body-title-start {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: none;
        font-size: $font-size-body;
        font-family: $font-body;

        @include mobile {
            font-size: 12px;
        }
    }
    .body-title-end {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: none;

        .btn-icon {
            height: 30px;
            width: 20px;
            .more-icon {
                font-size: 26px;
                color: $primary-color;
            }
        }
    }

    .edit-icon {
        color: $secondary-color;
    }
    .delete-icon {
        color: $third-color;
    }
}

.body-row-gray {
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        background-color: rgba(192, 192, 192, 0.158);
        cursor: pointer;
        transition: ease-out 0.3s;
    }

    .body-title {
        border: none;
        font-size: $font-size-body;
        font-family: $font-body;

        // .new-icon {
        //     font-size: 20px;
        //     color: $secondary-color;
        //     margin-right: 10px;
        // }

        .new-active {
            background-color:  $secondary-color;
            color: #fff;
            width: 50px;
            text-align: center;
            border-radius: 5px;
            font-size: 16px;
            &:hover {
                background-color: rgb(139, 139, 139);
            }
        }

        // .old-icon {
        //     font-size: 20px;
        //     color: $third-color;
        //     margin-right: 10px;
        // }

        .main-active {
            background-color: $third-color;
            color: #fff;
            width: 50px;
            text-align: center;
            border-radius: 5px;
            font-size: 16px;
            &:hover {
                background-color: rgb(139, 139, 139);
            }
        }

        @include mobile {
            font-size: 12px;
        }
        @include tablet {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 150px;
        }
    }
    .body-title-start {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: none;
        font-size: $font-size-body;
        font-family: $font-body;

        @include mobile {
            font-size: 12px;
        }
    }
    .body-title-end {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: none;

        .btn-icon {
            height: 30px;
            .more-icon {
                font-size: 26px;
                color: $primary-color;
            }
        }
    }
}
