@import "../themes.scss";

.users-page {
    .btn-filter {
        .MuiAutocomplete-option {
            font-family: $font-body !important;
            // color: black !important;
            font-weight: bold;
        }
    }

    .slash {
        width: 4px;
        height: 40px;
        background-color: $primary-color;
    }
    .page-title {
        color: $primary-color;
        font-size: 22px;
        font-family: $font-title;
    }

    .grid-btn {
        display: flex;
        justify-content: end;

        .btn-add {
            background-color: $secondary-color;
            color: #fff;
            border-radius: 20px;
            padding: 0px 20px;
            box-shadow: 1px 4px 5px 0px rgba(39, 39, 39, 0.19);
            -webkit-box-shadow: 1px 4px 5px 0px rgba(39, 39, 39, 0.19);
            -moz-box-shadow: 1px 4px 5px 0px rgba(39, 39, 39, 0.19);

            .MuiButton-startIcon {
                margin-right: 0px !important;
                margin-left: 0px !important;
            }

            .style-add {
                color: gray;
                font-family: $font-body;
                font-weight: bold;
                margin: 0px 5px 0px 5px;
            }
            .btn-text {
                color: #fff;
                font-weight: bold;
                margin: 0px 5px 0px 5px;
                font-family: $font-body;
            }
        }
    }

    .btn-search {
        border-radius: 20px !important;

        .btn-text-field {
            display: flex;
            align-items: center;
            width: 100%;
            background-color: #fff;
            border-radius: 20px;
            font-family: $font-body;
            padding: 0px 5px;
            box-shadow: rgba(105, 105, 105, 0.09) 0px 4px 12px;

            .text-field {
                .MuiOutlinedInput-input {
                    color: black !important;
                    font-family: $font-body;
                }
                .MuiInputLabel-root {
                    color: black !important;
                }
                .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
                    border-color: #fff;
                    border: none;
                }
                :hover .MuiOutlinedInput-input {
                    color: #fff;
                    font-family: $font-body;
                }
                :hover .MuiInputLabel-root {
                    color: black;
                }
                :hover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
                    border-color: #fff;
                }
                .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input {
                    color: black;
                }
                .MuiInputLabel-root.Mui-focused {
                    color: black;
                    font-family: $font-body;
                }
                .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
                    border-color: #fff;
                }
            }
        }
    }
    .btn-filter {
        width: 18%;
        border-radius: 5px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .form-controll-select {
            .MuiOutlinedInput-input {
                color: black !important;
                font-family: $font-body;
            }
            .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
                border-color: #fff;
            }
            :hover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
                border-color: #fff;
            }
            .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
                border-color: #fff;
            }
            .MuiMenuItem-gutters {
                font-family: $font-body;
            }
        }
    }

    .container {
        margin-top: 20px;

        .table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0px 8px;

            .header-row {
                .header-title {
                    padding: 10px;
                    border: none;
                    font-size: $font-size-subtitle;
                    font-family: $font-title;
                    color: $primary-color;

                    @include mobile {
                        font-size: 18px;
                    }
                }
            }

            .body {
                box-shadow: none;

                .body-row {
                    background-color: #fff;

                    .body-title {
                        padding: 10px;
                        border: none;
                        font-size: $font-size-subtitle;
                        font-family: $font-body;
                        font-weight: bold;
                    }
                }
            }

            .body-odd {
                box-shadow: none;

                .body-row {
                    // background-color: $color-text-field;

                    .body-title {
                        padding: 10px;
                        border: none;
                        font-size: $font-size-subtitle;
                        font-family: $font-body;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
        background-color: $secondary-color;
        color: #fff;
    }
    .next-btn {
        font-size: 20px;
    }
}
