@import "../../themes.scss";

.category-dialog {
    .MuiPaper-root {
        border-radius: 15px !important;
        width: 500px !important;
        height: fit-content !important;
    }

    .title {
        font-family: $font-title;
        font-size: $font-title;
        color: $primary-color;
    }

    .close-icon {
        color: red;
        cursor: pointer;
    }

    .box-form {
        .field-title {
            font-size: 14px;
        }
        .text-field {
            .MuiOutlinedInput-input {
                font-family: $font-body;
            }
            .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
                // border-color: gray;
                border-radius: 20px;
                border: none;
                box-shadow: rgba(105, 105, 105, 0.09) 0px 4px 12px;
            }
        }
    }
    .action-button {
        padding: 0px 18px 16px 18px;
        width: 100%;
        .btn-cencel {
            width: 100%;
            padding: 8px 40px;
            border-radius: 20px;
            background-color: $third-color;
            color: #fff;
            text-transform: none;
            // box-shadow: none;
            box-shadow: 1px 4px 5px 0px rgba(39, 39, 39, 0.19);
            -webkit-box-shadow: 1px 4px 5px 0px rgba(39, 39, 39, 0.19);
            -moz-box-shadow: 1px 4px 5px 0px rgba(39, 39, 39, 0.19);
            transition: 0.5s;

            &:hover {
                transform: scale(1.03);
                transition: 0.3s;
            }
        }
        .btn-create {
            width: 100%;
            padding: 8px 40px;
            border-radius: 20px;
            background-color: $secondary-color;
            color: #fff;
            text-transform: none;
            // box-shadow: none;
            box-shadow: 1px 4px 5px 0px rgba(39, 39, 39, 0.19);
            -webkit-box-shadow: 1px 4px 5px 0px rgba(39, 39, 39, 0.19);
            -moz-box-shadow: 1px 4px 5px 0px rgba(39, 39, 39, 0.19);
            transition: 0.5s;

            &:hover {
                transform: scale(1.03);
                transition: 0.3s;
            }
        }
    }
}
