// -----------Color
$primary-color: #092453;
$secondary-color: #7cdba8;
$third-color: #fc7e7f;

//background Color
$background-menu: linear-gradient(122deg, rgba(50, 74, 118, 1) 0%, rgba(9, 36, 83, 1) 87%);

//font
$font-title: "Preahvihear";
$font-body: "Kantumruy";

//font-size
$font-size-title: 28px;
$font-size-subtitle: 20px;
$font-size-body: 18px;

//responsive
@mixin desktop {
    @media (min-width: #{1025px}) and (max-width: #{1650px}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{769px}) and (max-width: #{1024px}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{426px}) and (max-width: #{768px}) {
        @content;
    }
}

@mixin mobile-large {
    @media (min-width: #{426px}) and (max-width: #{600px}) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: #{377px}) and (max-width: #{425px}) {
        @content;
    }
}

@mixin mobile-small {
    @media (min-width : #{0px}) and (max-width: #{376px}) {
        @content;
    }
}
